<div class="container main-container">
  <!-- Combo para filtrar por categoria -->
  <div class="row mb-4">
    <div class="col-md-4 offset-md-4">
      <label for="comboCategorias" class="form-label">Filtrar por Categoria:</label>
      <select
        id="comboCategorias"
        class="form-select"
        [(ngModel)]="categoriaSelecionada"
        (change)="filtrarProdutos()"
      >
        <option value="">Todas as categorias</option>
        <option *ngFor="let cat of categorias" [value]="cat.id">
          {{ cat.nome }}
        </option>
      </select>
    </div>
  </div>
  <div class="row text-center">
    <div
      *ngFor="let produto of produtos; trackBy: trackById"
      class="col-md-4"
      style="padding-bottom: 30px"
    >
      <div class="card h-100">
        <a
          class="text-decoration-none"
          [routerLink]="['/produtos/detalhe', produto.id]"
        >
          <div style="align-content: center">
            <img
              src="/assets/{{ produto.imagem }}"
              height="164px"
              width="253px"
              alt=""
            />
          </div>
        </a>
        <h4 class="card-title">
          <a [routerLink]="['/produtos/detalhe', produto.id]">{{
            produto.nome | titlecase
          }}</a>
        </h4>

        <div class="card-body">
          <p class="card-text">{{ produto.descricao }}</p>
          <div>
            <h4>
              {{ produto.preco | currency : "BRL" : "symbol" : "1.2-2" : "pt" }}
            </h4>
          </div>
          <p class="card-text">
            Unidades: {{ produto.estoque }} <br />
            Categoria: {{ produto.categoria.nome }}
          </p>
        </div>

        <div class="card-footer">
          <button
            class="btn btn-light"
            (click)="alternaFavorito(produto)"
            aria-label="Favoritar"
            [ngSwitch]="verificaFavorito(produto.id)"
          >
            <i class="bi bi-heart-fill text-danger" *ngSwitchCase="true"></i>
            <i class="bi bi-heart" *ngSwitchCase="false"></i>
          </button>
          <!-- <a class="btn btn-primary" [routerLink]="['/carrinho',produto.id]">
                        <span class="fa fa-shopping-cart"></span> Comprar
                    </a> -->
        </div>
      </div>
    </div>
  </div>
</div>
