@model IEnumerable<Business.Models.Produto>

@{
    var isAdmin = User.IsInRole("Admin");
}

@{
    ViewData["Title"] = "Mini Loja Virtual ";
    ViewData["SubTitle"] = isAdmin ? "Admin" : "";
}

<h1 class="mt-4">Produtos cadastrados</h1>
@{
    if (!isAdmin)
    {
        <p>
            <a class="btn btn-primary" asp-action="Create"><span class="fa fa-plus"></span> Cadastrar</a>
        </p>
    }
}


<partial name="_ProductList"/>