@using Business.Models
@model IEnumerable<Produto>

@{
    ViewData["Title"] = "Mini Loja Virtual ";
    ViewData["SubTitle"] = User.IsInRole("Admin") ? "Admin" : "";
}

<h1 class="mt-4">Produtos cadastrados</h1>
<p>
    <a class="btn btn-primary" asp-action="Create"><span class="fa fa-plus"></span> Cadastrar</a>
</p>

<partial name="_ProductList" />

