@model Core.ViewModels.CreateProdutoViewModel

@{
    ViewData["Title"] = "Novo produto";
}
<h2>Cadastrar novo produto</h2>
<h4>Preencha os campos corretamente</h4>
<hr />
@{
    
    var categorias = ViewBag.CategoriaId as SelectList;
}

@if (categorias == null || !categorias.Any())
{
    <div class="alert alert-warning">
        Não há categorias cadastradas.  
        <a asp-area="" asp-controller="Categorias" asp-action="Create">Crie uma categoria</a> para criar um produto.
    </div>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <form enctype="multipart/form-data" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="CategoriaId" class="control-label"></label>
                    <select asp-for="CategoriaId" class="form-control" asp-items="ViewBag.CategoriaId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control"/>
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Descricao" class="control-label"></label>
                    <input asp-for="Descricao" class="form-control"/>
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImagemUpload" class="control-label"></label>
                    <input asp-for="ImagemUpload" class="form-control"/>
                    <span asp-validation-for="ImagemUpload" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Preco" class="control-label"></label>
                    <input asp-for="Preco" class="form-control"/>
                    <span asp-validation-for="Preco" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Estoque" class="control-label"></label>
                    <input asp-for="Estoque" class="form-control"/>
                    <span asp-validation-for="Estoque" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Cadastrar" class="btn btn-info"/>
                    <a asp-action="Index" class="btn btn-warning">Voltar</a>
                </div>
            </form>
        </div>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/overrideValidationMethods.js"></script>
}

