@model IEnumerable<Core.Domain.Entities.Produto>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mt-4">Produtos cadastrados</h1>
<p>
    <a class="btn btn-primary" asp-action="Create"><span class="fa fa-plus"></span> Cadastrar</a>
</p>

<partial name="_ProductList" />

